td{
  margin: 15px 20px;
  width: 400px;
  height: 400px;
  max-width: 400px;
  border: 1.5px solid black; 
  text-align: center;
  font-size: 30px;
  border-radius: 30px;
}


tr{
  margin: 100px;
}
table{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#btn{
  display: flex;
  justify-content: center;

}