#instMenu, #main{
  display: none;
}
#coinSlot, #handle{
  cursor: pointer;
}


body{
  background-image: url("https://i.imgur.com/TaFs95Y.jpg");
  background-size: cover;
}

h1{
  font-family: 'Monoton', cursive;
  color: #F2FF00;
  text-shadow: 2px 2px #000000; 
}

button{
  background-color: white;  
}

.back{
  margin-top: 10px;
}

#instMenu{
  color: white;
}



p{
  font-size: 25px;
}

#para{
  font-size: 30px;
}

.box{
  background-color: rgba(138, 167, 174, 0.5);
  padding: 15px;
  border-radius: 5px;
  text-shadow: 3px 3px black;
  outline: solid 3px black;
  text-align: center;
}